/************************************
		STYLE GENERAL SITE
*************************************/

* {
	top: 0px;
	margin: 0px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #f8f0de;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

.container {
	width: 960px;
	margin: 0px auto;
}

.red {
	color: #d45555;
}

.comming-soon {
	text-align: center;
	margin-top: 200px;
}

.clear {
	clear: both;
}

.title {
	margin-top: 10px;
	font-size: 24px;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
}

.error {
	width: 100%;
	padding-top: 10px;
	height: 20px;
	background: rgba(212,85,85,0.7);
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
	text-align: center;
	color: #FFF;
	padding-bottom: 10px;	
}

/************************************
			USER INFOS
*************************************/

#user-info {
	padding-right: 5px;
	margin-top: 25px;
	float: right;
	border-right: 1px solid #292929;
	text-align: right;
}

.user-name {
	font-size: 12px;
	font-weight: bold;
}

.user-account {
	cursor: pointer;
	font-size: 10px;
	color: #d45555;
}

.user-account li {
	list-style: none;
}

.user-account ul ul {
display: none;
}

.user-account li:hover ul.account-dropdown {
	display: block;
}

.user-picto {
	float: right;
	background: url(../images/user.png) no-repeat;
	width: 13px;
	height: 15px;
	margin-top: 30px;
	margin-left: 5px;
}

/************************************
				BOUTTONS
*************************************/

.button-red-small,.button-red,.button-red-large,.button-blue-small,.button-blue,.button-blue-large{
	text-align: center;
	color:#FFF;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	cursor: pointer;
}

.button-red-small a,.button-red a,.button-red-large a,.button-blue-small a,.button-blue a,.button-blue-large a{
	color:#FFF;
}

.button-blue-small,.button-blue,.button-blue-large{
	background-color: #55a9d4;
}

.button-red-small,.button-red,.button-red-large{
	background-color: #d45555;
}

.button-blue-small:hover,.button-blue:hover,.button-blue-large:hover{
	background-color: #5fbeed;
}

.button-red-small:hover,.button-red:hover,.button-red-large:hover{
	background-color: #ed5f5f;
}

.button-blue-small:active,.button-blue:active,.button-blue-large:active{
	background-color: #4a95ba;
}

.button-red-small:active,.button-red:active,.button-red-large:active{
	background-color: #ba4a4a;
}

.button-blue-small,.button-red-small{
	width: 60px;
	font-size: 14px;
	font-weight: bold;
}

div.button-blue-small,div.button-red-small{
	height:24px;
	padding-top:6px;
}

input.button-blue-small,input.button-red-small{
	height:30px;
}

.button-blue,.button-red{
	width: 167px;
	font-size: 18px;
}

div.button-blue,div.button-red{
	height:30px;
	padding-top:10px;
}

input.button-blue,input.button-red{
	height:45px;
}

.button-blue-large,.button-red-large{
	width: 350px;
	font-size: 24px;
}

div.button-blue-large,div.button-red-large{
	height:50px;
	padding-top:24px;
}

input.button-blue-large,input.button-red-large{
	height:80px;
}

.button-red-small{
	border-bottom:3px solid #993333;
}

.button-blue-small{
	border-bottom:3px solid #3a7491;
}

.button-red{
	border-bottom:5px solid #993333;
}

.button-blue{
	border-bottom:5px solid #3a7491;
}

.button-red-large{
	border-bottom:6px solid #993333;
}

.button-blue-large{
	border-bottom:6px solid #3a7491;
}

/************************************
				HEADER
*************************************/

#header {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e6e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e5e5',GradientType=0 ); /* IE6-9 */
	width: 100%;
	height: 80px;
}

.logo {
	float: left;
	margin-top: 15px;
	font-size: 24px;
	background: url(../images/logo.png) no-repeat;
	width: 250px;
	height: 50px;
}

.create {
	float: right;
	font-size: 18px;
	background-color: #d45555;
	padding-top: 10px;
	width: 167px;
	height: 30px;
	text-align: center;
	border-bottom: 5px solid #993333;
	margin-top: 17px;
}

.create a {
	color: #FFF;
	text-decoration: none;
}


/************************************
				MENU
*************************************/

#menu {
	background:  url(../images/sous-menu.png) repeat-x;
	width: 100%;
	height: 30px;
}

.sep {
	background: url(../images/menu-sep.png) no-repeat;
	width: 1px;
	height: 30px;
}

.nav-left {
	margin-left: -40px;
	float: left;
}

#menu ul {
	list-style: none;
	color: #FFF;
	height: 30px;
}

.nav-left li {
	position: relative;
	top: -10px;
	height: 30px;
	display: inline;
	margin-right: 20px;
	margin-left: 20px;
}

.nav-right {
	float: right;
}

.nav-right li {
	display: inline;
	height: 30px;
	position: relative;
	top: -10px;
	margin-left: 10px;
	margin-right: 10px;
}

.cart {
	position: relative;
	width: 30px;
	height: 30px;
	top: 10px;
}

/************************************
		ARTISTE DE LA SEMAINE
*************************************/

#aweek {
	position: relative;
	width: 100%;
	height: 300px;
	background: url(../images/home/cover-aweek.png) no-repeat;
	background-size: cover;
}

.cover-infos {
	position: relative;
	top: 50px;
}

.cover-infos p {
	width: 400px;
	margin-top: 3px;
	background-color: rgba(255,255,255,0.6);
	padding:5px;
}

.cover-infos h3 {
	width: 120px;
	background-color: rgba(255,255,255,0.6);
	padding:5px;
}

.cover-more {
	position: absolute;
	top: 270px;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	color: #FFF;
	height: 30px;
}

.cover-more p {
	margin-top: 5px;
	float: right;
}

/************************************
	BLOC ARTISTES MIS EN AVANT
*************************************/

#best-artists {
	background: url(../images/home/bg-best-artists.png) no-repeat center;
	margin-top: 10px;
	position: relative;
	width: 100%;
	height: 635px;
}

.best-artists-left {
	float: left;
	width: 470px;
	margin-right: 10px;
}

.best-artists-right {
	float: right;
	width: 470px;
	margin-right: 10px;
	text-align: right;
}

.artist {
	position: relative;
	width: 470px;
	height: 200px;
	margin-bottom: 10px;
}

.highlight {
	display: none;
	position: absolute;
	text-align: center;
	width: 470px;
	height: 200px;
	background-color: rgba(85,169,212,0.8);
}

.highlight img {
	margin-top: 20px;
}

.highlight h3 {
	margin-top: 10px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: normal;
}

.highlight p {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: justify;
}

.artist h1 {
	padding: 5px 20px 5px 20px;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	background: rgba(0,0,0,0.7);
}

.ar01 { background: url(../images/home/artists/01.jpg); background-size: cover;}
.ar02 { background: url(../images/home/artists/02.jpg); background-size: cover;}
.ar03 { background: url(../images/home/artists/03.jpg); background-size: cover;}
.ar04 { background: url(../images/home/artists/04.jpg); background-size: cover;}
.ar05 { background: url(../images/home/artists/05.jpg); background-size: cover;}
.ar06 { background: url(../images/home/artists/06.jpg); background-size: cover;}

/************************************
			BLOC DISCOVER
*************************************/

#discover {
	background: url(../images/home/bg-discover.png);
	background-size: cover;
	width: 100%;
	height: 300px;
}

.red-discover {
	background-color: #d45555;
	float: left;
	color: #FFFFFF;
	padding: 10px 50px 10px 50px;
	margin-top: 130px;
	margin-left: 280px
}

.blue-discover {
	background-color: #55a9d4;
	float: right;
	color: #FFFFFF;
	padding: 10px 50px 10px 50px;
	margin-top: 130px;
	margin-right: 280px;
}

/************************************
		BLOC BEST PRODUCTS
*************************************/

#best-products {
	margin-top: 10px;
	background: url(../images/home/cover-products.png);
	background-size: cover;
	width: 100%;
	height: 300px;
}

.product-home {
	color: #FFFFFF;
}

.product-home h2 {
	padding-top: 80px;
	font-size: 18px;
	text-transform: uppercase;
}

.product-home p {
	padding-top: 20px;
	font-size: 12px;
}

.pos-product-home {
	float: left;
	margin-top: 45px;
}

.see-more-home {
	background-color: #d45555;
	padding: 10px 20px 10px 20px;
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}


/************************************
		GALLERY TEMPLATE 1
*************************************/

.picture-add {

}

#cover {
	position: relative;
	width: 100%;
	height: 300px;
	background: url(../images/gallery/loiczimmermann/cover.png);
	background-size: cover;
}

#cover-hover {
	width: 100%;
	position: absolute;
	height: 300px;
	background: url(../images/cover-hover.png);
}

#infos {
	position: relative;
	width: 100%;
	background-color: #292929;
	height: 90px;
}

#profil-pic {
	float: left;
	position: absolute;
	top: -50px;
	background: url(../images/gallery/loiczimmermann/profilpic.png);
	width: 100px;
	height: 100px;
}

#name {
	position: relative;
}

#name h1 {
	color: #FFFFFF;
	font-size: 24px;
	position: absolute;
	top: -35px;
	left: 120px;
}

#bio {
	position: relative;
}

#bio p {
	position: absolute;	
	color: #FFFFFF;
	left: 120px;
	top: 20px;
	font-size: 12px;
}

#social {
	top: 50px;
	position: absolute;
}

#social ul {
	list-style: none;
	margin-left: -29px;
	margin-top: 10px;
}

#social li {
	margin: 0px 5px 0px 5px;
	display: inline-block;
}

.twitter {
	background: url(../images/gallery/social/twitter.png);
	width: 16px;
	height: 14px;
}

.facebook {
	background: url(../images/gallery/social/facebook.png);
	width: 8px;
	height: 16px;
}

.website {
	background: url(../images/gallery/social/website.png);
	width: 17px;
	height: 8px;
}

#work {
	margin-top: 10px;
	margin-bottom: 20px;
}

.product {
	float: left;
	width: 460px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

.product-name h2 {
	margin-top: 10px;
	color: #d45555;
	font-size: 18px;
}

.product-description p {
	margin-top: 5px;
	font-size: 12px;
}

.blue-more {
	background-color: #55a9d4;
	border-bottom: 5px solid #4284a5;
	float: right;
	color: #FFFFFF;
	padding: 5px 20px 5px 20px;
	margin-top: 10px;
}

/************************************
		GALLERY TEMPLATE 2
*************************************/

#infos-tp2 {
	position: absolute;
	width: 350px;
	background-color: rgba(0,0,0,0.7);
	height: 300px;
}

#profil-pic-tp2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background: url(../images/gallery/loiczimmermann/profilpic.png);
	width: 100px;
	height: 100px;
}

#name-tp2 {
}

#name-tp2 h1 {
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
}

#bio-tp2 p {
	margin: 20px 10px 0px 10px;
	color: #FFFFFF;
	top: 20px;
	font-size: 12px;
	text-align: justify;
}

#social-tp2 {
	margin-top: 20px;
	text-align: center;
}

#social-tp2 ul {
	list-style: none;
}

#social-tp2 li {
	margin: 0px 5px 0px 5px;
	display: inline-block;
}

/** SELECT TEMPLATE **/

#select-template
{
	padding-bottom: 30px;
	height: 490px;
}

#select-template h3
{
	text-align: center;
	padding: 20px 0;
	text-transform: uppercase;
	font-weight: 100;
}

.template
{
	display: inline-block;
	width: 450px;
	height: 370px;
	margin: 0 12px;	
	border: #000 2px solid;
	border-bottom: 4px solid black;
	background: white;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .2s ease; 
    -moz-transition: all .2s ease; 
}

.template:hover
{
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: none;
}

.template-1{background: url(../images/templates/template1.png);}
.template-2{background: url(../images/templates/template2.png);}

/*****************************************
	LOGIN/SIGNUP FORM
******************************************/

#select-validate
{
	display: block;
	float: right;
	border-bottom: 4px solid #4284a5;
	background: #55a9d4;
	width: 130px;
	padding: 10px;
	margin: 10px;
}

#connection #form_container{
	width:600px;
	margin: 0 auto;
	padding:20px 0;
}

#form_container>div>p , #form_container>p{
	width:100%;
	text-align: center;
	margin:10px 0;
	font-size: 24px;
	font-weight: lighter;
}

#form_container>div{
	margin:30px auto;
}

form{
	width: 90%;
	padding:5%;
	margin: 20px auto 0 auto;
	background: #FFF;
	box-shadow: 1px 1px 15px #999;
	font-size: 18px;
	color: #555;
}

form .inputtext{
	width:96%;
	margin:8px auto 20px auto;
	font-size: 20px;
	padding: 10px 6px;
	border-radius: 4px;
	border:2px solid #EEE;
	color: #BBB;
}

form .password{
	width:70%;
	margin:8px auto 20px auto;
	font-size: 20px;
	padding: 10px 6px;
	border-radius: 4px;
	border:2px solid #EEE;
	color: #555;
}

form select.inputtext{
	width:99%;
}

form div.form_half{
	width:46.5%;
	display: inline-block;
	vertical-align: top;
	margin-right:3%;
}

form .inputtext:hover{
	border:2px solid #CCC;
}

form .inputtext:focus{
	border:2px solid #CCC;
	color: #555;
}

form div#container_button{
	width:100%;
	text-align: center;
}

.link-blue{
	color:#55a9d4;
}

.link-blue:hover{
	color:#66c5f4;
}

form .checkbox{
	margin: 5px 0 15px 0;
}

form .checkbox label{
	position: relative;
	left:10px;
	top:-1px;
}

form span.required{
	color: #d45555;
	font-size: 24px
}

#contact #form_container{
	width:66%;
}

textarea.inputtext{
	font-family: Helvetica, Arial, sans-serif;
	resize:vertical;
	min-height: 200px;
}